@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css);
body{
    background-image: linear-gradient(aqua,white,rgb(237, 159, 159));
    min-height: 650px;
}
.nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
   
}
.link{
    font-size: 30px;
    color:white;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px red;
}
.link:hover{
    color: black;
    text-shadow: 2px 2px aqua;
}
.text{
    color:red;
    text-align: center;
    text-shadow: 3px 3px black;
}
.center{
    color:red;
    text-align: center;
    text-shadow: 3px 3px black;
}
.move{
   float: right;
   position: relative;
   top:-45px;
   left:-10px;
   background-color: black;
   color:aqua;
}
table{
    font-size: 30px;
    border-collapse: collapse;
    width: 100%;
    
}
td{
    text-align: center;
    border: 1px solid red;
    
    
}
th{
    text-align: center;
    border: 1px solid black;
    color: cadetblue;
    text-shadow: 3px 3px black;
}
.container{
    color:red;
    text-shadow: 3px 3px black;
}